<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Formulario de Registro</ion-title>
    <ion-icon (click)="volverHome()" slot="start" name="arrow-back-outline" ></ion-icon>
  </ion-toolbar>
</ion-header>

  <div class="page-background-2">
  <ion-card>
    <form>
      <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="nombre" label-placement="floating" placeholder="Ingrese su nombre">
        <div class="animated-div" slot="label">Nombre <ion-text color="danger">(Required)</ion-text></div>
        </ion-input>
      </ion-item>
      <br />
      <ion-item>
        <ion-input type="text" [(ngModel)]="apellido" label-placement="floating" placeholder="Ingrese su apellido">
        <div class="animated-div" slot="label">Apellido <ion-text color="danger">(Required)</ion-text></div>
        </ion-input>
      </ion-item>
      <br />
      <ion-item>
        <ion-input type="email" [(ngModel)]="correo" label-placement="floating" placeholder="Ingrese su correo electrónico">
        <div class="animated-div" slot="label">Email<ion-text color="danger">(Required)</ion-text></div>
        </ion-input>
      </ion-item>
      <br />
      <ion-item>
        <ion-input type="password" [(ngModel)]="contrasenia"label-placement="floating" placeholder="Ingrese su contraseña">
        <div class="animated-div" slot="label">Password <ion-text color="danger">(Required)</ion-text></div>
        </ion-input>
      </ion-item>
      <br />
      <ion-item>
        <ion-input type="text" [(ngModel)]="recuperacionContrasenia" label-placement="floating" placeholder="Ingrese dato secreto">
        <div class="animated-div" slot="label">Dato de recuperación de contraseñia<ion-text color="danger">(Required)</ion-text></div>
        </ion-input>
      </ion-item>
      <br />
      <ion-item>
        <ion-input type="text" [(ngModel)]="telefono" label-placement="floating"  placeholder="+569.. +66..">
        <div class="animated-div" slot="label">Numero de Contacto<ion-text color="danger">(Required)</ion-text></div>
        </ion-input>
      </ion-item>
      </ion-card-content>
      <ion-button expand="block" (click)="registrarse()">Registrarse</ion-button>
    </form>
    </ion-card>
  </div>

