<ion-header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      FORMULARIO DE REGISTRO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <form>

      <ion-item>
        <ion-label position="block">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="nombre" placeholder="Ingrese su nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="block">Apellido</ion-label>
        <ion-input type="text" [(ngModel)]="apellido" placeholder="Ingrese su apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="block">Email</ion-label>
        <ion-input type="email" [(ngModel)]="correo" placeholder="Ingrese su correo electrónico"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="block">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="contrasenia" placeholder="Ingrese su contraseña"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="block">Dato de recuperación de contraseñia</ion-label>
        <ion-input type="text" [(ngModel)]="recuperacionContrasenia" placeholder="Ingrese dato secreto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="block">Telefono</ion-label>
        <ion-input type="text" [(ngModel)]="telefono" placeholder="Ingrese su telefono"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit">
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        Registrarse
      </ion-button>
    </form>
  </div>
</ion-content>
