<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon (click)="volverHome()" slot="start" name="arrow-back-outline" ></ion-icon>
      <ion-title ><img src="assets/icon/logo.png" alt="Logo" class="small-logo"  />Hotel Pacific </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content >

    <ion-title class="ion-text-center">
      Habitaciones
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-buttons>
  <!-- Descripción de la habitación -->
  <div class="boxs" >
  <!-- habitacion 1 -->
  <div class="room-details" name= "habitacion1">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Habitación doble</ion-card-title>
        </ion-card-header>
        <div class="habitacion1">
        </div>
        <div class="info-additional">
          <p><ion-icon name="eye-outline"></ion-icon> 112.678 personas vieron esta habitación</p>
        </div>
        <ion-badge color="blue">$60.000</ion-badge>
        <ion-card-content>
          <p>Cama individual cómoda, escritorio con silla para trabajar, baño privado con ducha. Facilidades: aire acondicionado, WiFi, televisión por cable.</p>
        </ion-card-content>
        <div class="bottom-bar">
          <ion-button expand="block" color="secondary">Conocer mas</ion-button>
          <ion-button expand="block" [disabled]="!isCorreoExist" (click)="seleccionarHabitacion('Habitación doble', 1,'$60.000')" color="secondary" >Reservar</ion-button>
        </div>
    </ion-card>
  </div>
  <!-- habitacion 2 -->
  <div class="room-details" name= "habitacion2">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Habitacion Matrimonial</ion-card-title>
      </ion-card-header>
        <div class="habitacion2">
        </div>
        <div class="info-additional">
          <p><ion-icon name="eye-outline"></ion-icon> 110 personas vieron esta habitación</p>
        </div>
        <ion-badge color="blue">$60.000</ion-badge>
        <ion-card-content>
          <p>Cama individual cómoda, escritorio con silla para trabajar, baño privado con ducha. Facilidades: aire acondicionado, WiFi, televisión por cable.</p>
        </ion-card-content>
        <div class="bottom-bar">
          <ion-button expand="block" color="secondary">Conocer mas</ion-button>
          <ion-button expand="block" color="secondary" [disabled]="!isCorreoExist" (click)="seleccionarHabitacion('Habitacion Matrimonial', 2,'$60.000')">Reservar</ion-button>
        </div>
    </ion-card>
  </div>
  <!-- habitacion 3 -->
  <div class="room-details" name= "habitacion3">
    <ion-card >
      <ion-card-header>
        <ion-card-title>Habitación doble deluxe</ion-card-title>
      </ion-card-header>
        <div class="habitacion3" >
        </div>
        <div class="info-additional">
          <p><ion-icon name="eye-outline"></ion-icon> 12.341 personas vieron esta habitación</p>
        </div>
        <ion-badge color="blue">$60.500</ion-badge>
        <ion-card-content>
          <p>Cama individual cómoda, escritorio con silla para trabajar, baño privado con ducha. Facilidades: aire acondicionado, WiFi, televisión por cable.</p>
        </ion-card-content>
        <div class="bottom-bar">
          <ion-button expand="block" color="secondary">Conocer mas</ion-button>
          <ion-button expand="block" color="secondary" [disabled]="!isCorreoExist" (click)="seleccionarHabitacion('Habitación doble', 1, '$60.000')">Reservar</ion-button>
        </div>
    </ion-card>
  </div>
    <!-- habitacion 4 -->
    <div class="room-details" name= "habitacion4">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Habitación doble simple </ion-card-title>
        </ion-card-header>
          <div class="habitacion4">
          </div>
          <div class="info-additional">
            <p><ion-icon name="eye-outline"></ion-icon> 133.443 personas vieron esta habitación</p>
          </div>
          <ion-badge color="blue">$59.500</ion-badge>
          <ion-card-content>
            <p>Cama individual cómoda, escritorio con silla para trabajar, baño privado con ducha. Facilidades: aire acondicionado, WiFi, televisión por cable.</p>
          </ion-card-content>
          <div class="bottom-bar">
            <ion-button expand="block" color="secondary">Conocer mas</ion-button>
            <ion-button expand="block" color="secondary" [disabled]="!isCorreoExist" (click)="seleccionarHabitacion('Habitación doble simple', 4,'$59.500')">Reservar</ion-button>
          </div>
      </ion-card>
    </div>

  <!-- Mapa de ubicación (Tome imagenes de la web para que se pueda vizualizar) -->
  <div>
  <div >
    <ion-button size="small" fill="outline" color="primary" (click)="navigateToLogin()">Login</ion-button>
  </div>
    <ion-list>
    <ion-card-header>
        <ion-card-title>Reserva ahora</ion-card-title>
      </ion-card-header>
          <div>
            <div *ngIf="habitacionSeleccionada">
            <h2>Habitación seleccionada:</h2>
            <p>{{ habitacionSeleccionada }}</p>
            <p>{{ id }}</p>
        </div>
          </div>
          <ion-item>
            <ion-select label="Tipo de habitacion" [(ngModel)]="opcion" aria-label="opcion" interface="popover" placeholder="Selecionar tipo ">
              <ion-select-option value="simplea">Cama simple</ion-select-option>
              <ion-select-option value="doble">cama doble</ion-select-option>
              <ion-select-option value="matrimonial">cama matrimonial</ion-select-option>
              <ion-select-option value="matrimonial2">cama matrimonial doble</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-card-title>Cantidad de Huéspedes  </ion-card-title>
              <div>
              <h2>{{ count }}</h2>
              <ion-button (click)="increment()">+</ion-button>
              <ion-button (click)="decrement()">-</ion-button>
              </div>
        </ion-item>
    </ion-list>
        <ion-item>
            <ion-item>
              <ion-label>Selecciona una fecha</ion-label>
              <ion-datetime 
                presentation="date" multiple="true"
                (ionChange)="onDateChange($event)" 
                displayFormat="YYYY-MM-DD" 
                pickerFormat="DD MMM YYYY"
                type="date"> <!-- Solo este tipo para seleccionar fecha -->
              </ion-datetime>
            </ion-item>
            <ion-button (click)="confirmar()">Confirmar</ion-button>
        </ion-item>
        <ion-item >
              <ion-content class="ion-center">
              <ion-button expand="block" id="open-modal-depositar" (click)="continuarReserva()" [disabled]="id < 1 || id > 4">Realizar Reserva</ion-button>
              <ion-modal trigger="open-modal-depositar" (willDismiss)="onWillDismiss($event)">
                <ng-template>
                  <ion-header>
                    <ion-toolbar>
                      <ion-buttons slot="start">
                        <ion-button (click)="cancel()">Cancel</ion-button>
                      </ion-buttons>
                      <ion-title>Realizar Reserva</ion-title>
                      <ion-buttons slot="end">
                        <ion-button >Confirm</ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-header>
                  <ion-content class="ion-padding">
                    <ion-item>
                      <ion-card-title>Usuario: </ion-card-title>
                      <h4>{{correo}}</h4>
                    </ion-item>
                    <ion-item>
                      <ion-card-title>Numero de Habitación:</ion-card-title>
                      <h4>{{id}}</h4>
                    </ion-item>
                    <ion-item>
                      <ion-card-title>Tipo de Habitación:</ion-card-title>
                      <h4>{{habitacionSeleccionada}}</h4>
                    </ion-item>
                    <ion-item>
                      <ion-card-title>Valor por dia:</ion-card-title>
                      <h4>{{precio}}</h4>
                    </ion-item>
                    <ion-item>
                      <ion-card-title>Fechas elegidas:</ion-card-title>
                      <h4></h4>
                    </ion-item>
                    <ion-item>
                      <ion-card-title>Monto de la Reserva:</ion-card-title>
                      <h4></h4>
                    </ion-item>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-content>
            </ion-item>


          
  </div>
</div>
</ion-content>











<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="explore">
          <ion-icon name="compass-outline"></ion-icon>
          <ion-label>Explorar</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="favorites">
          <ion-icon name="heart-outline"></ion-icon>
          <ion-label>Favoritos</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="bookings">
          <ion-icon name="document-text-outline"></ion-icon>
          <ion-label>Reservas</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="profile">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
