<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>HotelApp</ion-title>
    <ion-icon (click)="volverHome()" slot="start" name="arrow-back-outline" ></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content stiles [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HotelApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="page-background-2">
    <ion-card>
      <br />
      <ion-title size="large">Bienvenido!</ion-title>
      <ion-card-content>

        <ion-item>
          <ion-input label="Correo Usuario" [(ngModel)]="correo"  label-placement="floating"  placeholder="Enter user" name="usuario" required></ion-input>
        </ion-item>
        <br />
        <ion-item>
          <ion-input type="password"  [(ngModel)]="contrasenia" placeholder="Password"  name="password" required></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button expand="block" (click)="ingresar()"> Ingresar</ion-button>
      <ion-button expand="block" (click)="registrar()"> registrarse</ion-button>
   
  </ion-card>
      
    
      </div>
</ion-content>
